<%
@title="Liste des dossiers"
@with_form_js=false

@get_params = Desmoservice::GetParams.new()
@get_params.family_filter = family_filter
@families = Desmoservice::Get.families(desmoservice_conf, @get_params)

@ventilation_get_params = Desmoservice::GetParams.new()
@ventilation_get_params.with_attrs = true
@ventilation_get_params.ignore_empty_sectors = true
@ventilation_get_params.set_ventilation_from_grid('simple', 'dossier')


@done = Hash.new
@families.each do |family| 
  @current_family_id = family.id
  family.subfamilies.each do |subfamily|
    @current_subfamily_id = subfamily.id
    subfamily.members.each do |member|
      @ventilation_get_params.ventilation_root_id = member.id
      ventilation = Desmoservice::Get.ventilation(desmoservice_conf, @ventilation_get_params)
      ventilation.sectors.each do |sector|
        if sector.key == 'dossier'
          @done[@current_family_id] = true
          @done[@current_subfamily_id] = true
          @done[member.id] = sector
          break
        end
      end
    end
  end
end
%>

<div class="row">
<div class="col-md-12">
<% @families.each do |family| %>
  <%if @done.has_key?(family.id) %>
    <h2><%= text_with_key(family) %></h2>
    <% family.subfamilies.each do |subfamily|%>
      <% if @done.has_key?(subfamily.id) %>
        <h3><%= text_with_key(subfamily) %></h3>
        <ul class="ListeDescripteursPrincipaux">
          <% subfamily.members.each do |member|%>
            <% if @done.has_key?(member.id) %>
              <li>
                <p><%= span_color(member)%></p>
                <ul>
                  <% @done[member.id].liaisons.each do |liaison|%>
                    <li>
                      <p><a class="Dossier" target="_blank" href="<%= liaison['atlas:url'][0]%>"><%= liaison.text%></a></p>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>


</div>
</div>
