<%
@title="Menu"
@with_form_js=false
@get_params = Desmoservice::GetParams.new()
@get_params.family_filter = 'lignesmatrice'
@families = Desmoservice::Get.families(desmoservice_conf, @get_params)
%>

<div class="small">

<form action="" target="Saisie">
<input type="hidden" name="page" value="recherche">
<p>Recherche libre :<br>
<input type="text" size="20" name="q"><br>
<input type="submit" value="Rechercher">
</p>
</form>


<p><a href="?page=selection_transfert" target="Saisie">Transfert de liens</a></p>
  <% @families[0].members.each do |member| %>
    <h5><%= span_color(member)%></h5>
    <ul>
      <li><a href="?page=liste_niveau1&amp;lignematrice=<%= member.id %>" target="Saisie">Liste des niveaux 1</a></li>
      <li><a href="../static/desmoclient/desmoclient.html#<%= member.id %>|ventilation:naturelle" target="Saisie">Desmogramme</a></li>
      <li><a href="?page=dossiers&amp;grille=<%= member.localkey %>" target="Saisie">Dossiers Citego</a></li>
    </ul>
  <% end %>

  <h5><em>Autres liens</em></h5>
  <ul>
    <li>
      <a href="../static/desmoclient/desmoclient.html"  target="Saisie">Desmographie en ligne</a>
    </li>
    <li>
      <a href="<%= desmoservice_conf.build_dsmd_url %>">Desmographie complète au format .dsmd</a>
    </li>
    <li>
      <a href="?page=listepermutee&amp;niveau=N1" target="Saisie">Liste permutée des niveaux 1</a>
    </li>
    <li>
      <a href="?page=listepermutee&amp;niveau=N2" target="Saisie">Liste permutée des niveaux 2</a>
    </li>
    <li>
      <a href="?page=listepermutee&amp;niveau=N3" target="Saisie">Liste permutée des niveaux 3</a>
    </li>
    <li>
      <a href="?page=listepermutee&amp;niveau=tous" target="Saisie">Liste permutée complète</a>
    </li>
    <li>
      <a href="?page=descripteurs" target="Saisie">Tous les descripteurs</a>
    </li>
  </ul>
</div>
