<%
@title="Liste des dossiers"
@with_form_js=false

@get_params = Desmoservice::GetParams.new()
@get_params.ventilation_root_id = id
@get_params.ignore_empty_sectors = false
@get_params.ventilation_name_context = 'colonnesmatrice'

@ventilation_get_params = Desmoservice::GetParams.new()
@ventilation_get_params.with_attrs = true
@ventilation_get_params.ignore_empty_sectors = true
@ventilation_get_params.ventilation_name_context = 'simple/dossier'

@done = Hash.new
uri = desmoservice_conf.build_json_uri()
Net::HTTP.start(uri.host, uri.port) do |http|
  @ventilation = Desmoservice::Get.ventilation(desmoservice_conf, @get_params, http)
  @ventilation.sectors.each do |sector| 
    @current_sector_id = sector.id
    sector.members.each do |member|
      @ventilation_get_params.ventilation_root_id = member.id
      ventilation = Desmoservice::Get.ventilation(desmoservice_conf, @ventilation_get_params, http)
      ventilation.sectors.each do |sector|
        if sector.localkey == 'dossier'
          @done[@current_sector_id] = true
          @done[member.id] = sector
          break
        end
      end
    end
  end
end
%>

<div class="row">
<div class="col-md-12">
<h2><%= span_color(@ventilation.root)%></h2>
<% @ventilation.sectors.each do |sector| %>
  <%if @done.has_key?(sector.id) %>
    <h3><%= text_with_key(sector) %></h3>
    <ul class="ListeDescripteursPrincipaux">
      <% sector.members.each do |member|%>
        <% if @done.has_key?(member.id) %>
          <li>
            <p><%= span_color(member)%></p>
            <ul>
              <% @done[member.id].members.each do |sector_member|%>
                <li>
                  <p><a class="Dossier" target="_blank" href="<%= sector_member['atlas:url'][0]%>"><%= sector_member.text%></a></p>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>


</div>
</div>
