<%
@with_form_js=false
@get_params = Desmoservice::GetParams.new()
@get_params.ventilation_root_id = id
@get_params.ignore_empty_sectors = false
@get_params.ventilation_name_context = 'colonnesmatrice'
@ventilation = Desmoservice::Get.ventilation(desmoservice_conf, @get_params)
@title = text_with_key(@ventilation.root)
%>

<div class="row">
<div class="col-md-12">
<div class="public-Root">
<div class="public-DescripteurBloc">
<span style="background-color:#ffcccc"><%= text_with_key(@ventilation.root) %></span>
</div>
</div>

<%@ventilation.sectors.each do |sector| %>
  <h3 class="public-Secteur"><%= text_with_key(sector) %></h3>
    <% sector.members.each do |member| %>
    <a class="public-DescripteurLink" href="?page=niveau1&amp;id=<%= member.id%>" target="<%= target %>">
      <%= div_background(member)%>
    </a>
    <% end %>
<% end %>


</div>
</div>
