<%
@get_params = Desmoservice::GetParams.new()
@get_params.with_keys = true
@get_params.with_parent = true
@get_params.query = query
@terms = Desmoservice::Get.terms(desmoservice_conf, @get_params)
@niveau1 = Array.new()
@niveau2 = Array.new()
@niveau3 = Array.new()

@terms.each do |term|
  case term.parent_localkey
  when 'niveau1'
    @niveau1 << term
  when 'niveau2'
    @niveau2 << term
  when 'niveau3'
    @niveau3 << term
  end

end

%>

<div class="row">
<div class="col-md-12">
<% if @terms.length == 0 %>
<p><em>Aucun résultat pour la recherche : <%= query %></em></p>
<% end %>
<% if @niveau1.length > 0 %>
  <h3 class="public-Secteur">Niveaux 1</h3>
  <% @niveau1.each do |term| %>
    <a class="public-DescripteurLink" href="?page=niveau1&amp;id=<%= term.id%>" target="Niveau2">
      <%= div_background(term)%>
    </a>
  <% end %>
<% end %>
<% if @niveau2.length > 0 %>
  <h3 class="public-Secteur">Niveaux 2</h3>
  <% @niveau2.each do |term| %>
    <a data-link-type="modal" class="public-DescripteurLink"  href="?page=modal&amp;id=<%= term.id %>">
      <%= div_background(term)%>
    </a>
  <% end %>
<% end %>
<% if @niveau3.length > 0 %>
  <h3 class="public-Secteur">Niveaux 3</h3>
  <% @niveau3.each do |term| %>
    <a data-link-type="modal" class="public-DescripteurLink"  href="?page=modal&amp;id=<%= term.id %>">
      <%= div_background(term)%>
    </a>
  <% end %>
<% end %>
</div>
</div>