<%
@get_params = Desmoservice::GetParams.new()
@get_params.ventilation_root_id = id
@get_params.ventilation_name_context = 'simple'
@get_params.with_keys = true
@get_params.with_parent = true
@get_params.ignore_empty_sectors = true
@ventilation = Desmoservice::Get.ventilation(desmoservice_conf, @get_params)
@title = text_with_key(@ventilation.root)
superiors = Hash.new
inferiors = Hash.new
@ventilation.sectors.each do |sector|
  sector.members.each do |sector_member|
    case sector_member.position
    when 1
      inferiors[sector_member.id] = sector_member
    when 3
      superiors[sector_member.id] = sector_member
    end
  end
end
%>
<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span arial-hidden="true">&times;</span></button>
  
  <%= div_background(@ventilation.root)%>
</div>
<div class="modal-body">
<% if not superiors.empty? %>
  <p>Niveaux supérieurs :</p>
  <ul>
  <% superiors.each_value do |sector_member| %>
    <%if sector_member.parent_localkey.length == 2 %>
      <a class="public-DescripteurLink" href="?page=niveau1&amp;id=<%= sector_member.id%>" target="Niveau2">
        <%= div_background(sector_member)%>
      </a>
    <% else %>
      <%= div_background(sector_member)%>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% if not inferiors.empty? %>
  <p>Niveaux inférieurs :</p>
  <ul>
  <% inferiors.each_value do |sector_member| %>
    <%= div_background(sector_member)%>
  <% end %>
  </ul>
<% end %>
</div>
<!--<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
</div>-->
</body>
</html>